body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2210px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2210px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1097px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:816px;
  top:116px;
  width:288px;
  height:37px;
  color:#000066;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:866px;
  top:172px;
  width:188px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000066;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:180px;
  top:354px;
  width:520px;
  height:210px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u7 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:700px;
  top:354px;
  width:520px;
  height:210px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u9 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:216px;
  top:288px;
  width:213px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:747px;
  top:288px;
  width:164px;
  height:28px;
  font-size:28px;
  color:#000066;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:747px;
  top:417px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:216px;
  top:358px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:216px;
  top:416px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:216px;
  top:474px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:747px;
  top:358px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:775px;
  top:442px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:775px;
  top:386px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:259px;
  top:391px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:259px;
  top:449px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:259px;
  top:508px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1220px;
  top:354px;
  width:520px;
  height:210px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u35 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1267px;
  top:288px;
  width:135px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1267px;
  top:416px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1267px;
  top:358px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:747px;
  top:475px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1267px;
  top:474px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1300px;
  top:442px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1300px;
  top:384px;
  width:59px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:775px;
  top:503px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1300px;
  top:500px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:182px;
  top:58px;
  width:200px;
  height:200px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u55 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1704px;
  top:60px;
  width:35px;
  height:35px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1649px;
  top:58px;
  width:37px;
  height:37px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1636px;
  top:114px;
  width:103px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1616px;
  top:145px;
  width:123px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1537px;
  top:176px;
  width:203px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0000FF;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:216px;
  top:651px;
  width:112px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:747px;
  top:651px;
  width:267px;
  height:28px;
  font-size:28px;
  color:#000066;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:28px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:1267px;
  top:651px;
  width:161px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:216px;
  top:1028px;
  width:136px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:747px;
  top:1028px;
  width:189px;
  height:28px;
  font-size:28px;
  color:#000066;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1267px;
  top:1028px;
  width:90px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:32px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:216px;
  top:1400px;
  width:127px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:747px;
  top:1400px;
  width:152px;
  height:28px;
  font-size:28px;
  color:#000066;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:1267px;
  top:1400px;
  width:77px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:227px;
  top:1798px;
  width:156px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:757px;
  top:1798px;
  width:119px;
  height:28px;
  font-size:28px;
  color:#000066;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:1267px;
  top:1798px;
  width:192px;
  height:32px;
  font-size:28px;
  color:#000066;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:32px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:180px;
  top:734px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u91 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:700px;
  top:734px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u93 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:747px;
  top:797px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:216px;
  top:738px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:216px;
  top:796px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:216px;
  top:854px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:747px;
  top:738px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:775px;
  top:822px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:775px;
  top:766px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:259px;
  top:771px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:259px;
  top:829px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:259px;
  top:888px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1220px;
  top:734px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u115 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1267px;
  top:796px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1267px;
  top:738px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:747px;
  top:855px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1267px;
  top:854px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1300px;
  top:822px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1300px;
  top:764px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:775px;
  top:883px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:1300px;
  top:880px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:180px;
  top:1110px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u133 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:700px;
  top:1110px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u135 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:747px;
  top:1173px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:216px;
  top:1114px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:216px;
  top:1172px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:216px;
  top:1230px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:747px;
  top:1114px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:775px;
  top:1198px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:775px;
  top:1142px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:259px;
  top:1147px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:259px;
  top:1205px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:259px;
  top:1264px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:1220px;
  top:1110px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u157 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1267px;
  top:1172px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:1267px;
  top:1114px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:747px;
  top:1231px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:1267px;
  top:1230px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:1300px;
  top:1198px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:1300px;
  top:1140px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:775px;
  top:1259px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:1300px;
  top:1256px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:180px;
  top:1490px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u175 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:700px;
  top:1490px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u177 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:747px;
  top:1553px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:216px;
  top:1494px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:216px;
  top:1552px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:216px;
  top:1610px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:747px;
  top:1494px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:775px;
  top:1578px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:775px;
  top:1522px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:259px;
  top:1527px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:259px;
  top:1585px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:259px;
  top:1644px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:1220px;
  top:1490px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u199 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1267px;
  top:1552px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:1267px;
  top:1494px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:747px;
  top:1611px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:1267px;
  top:1610px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:1300px;
  top:1578px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:1300px;
  top:1520px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:775px;
  top:1639px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:1300px;
  top:1636px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:180px;
  top:1884px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u217 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:700px;
  top:1884px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u219 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:747px;
  top:1947px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:216px;
  top:1888px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:216px;
  top:1946px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:216px;
  top:2004px;
  width:14px;
  height:51px;
  font-size:48px;
  color:#0000FF;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u228 {
  position:absolute;
  left:747px;
  top:1888px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:775px;
  top:1972px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:775px;
  top:1916px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:259px;
  top:1921px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:259px;
  top:1979px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:259px;
  top:2038px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u240 {
  position:absolute;
  left:1220px;
  top:1884px;
  width:520px;
  height:210px;
  color:#1E1E1E;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:210px;
}
#u241 {
  position:absolute;
  left:2px;
  top:97px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:1267px;
  top:1946px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u244 {
  position:absolute;
  left:1267px;
  top:1888px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u246 {
  position:absolute;
  left:747px;
  top:2005px;
  width:14px;
  height:38px;
  font-size:48px;
  color:#0000FF;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:38px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u248 {
  position:absolute;
  left:1267px;
  top:2004px;
  width:14px;
  height:27px;
  font-size:48px;
  color:#0000FF;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u250 {
  position:absolute;
  left:1300px;
  top:1972px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u252 {
  position:absolute;
  left:1300px;
  top:1914px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u254 {
  position:absolute;
  left:775px;
  top:2033px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:1300px;
  top:2030px;
  width:187px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:23px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
