body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:80px;
  width:1700px;
  height:70px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:70px;
}
#u1 {
  position:absolute;
  left:2px;
  top:27px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:118px;
  width:128px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:672px;
  top:1140px;
  width:354px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:572px;
  top:1180px;
  width:62px;
  height:21px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:652px;
  top:1178px;
  width:175px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:862px;
  top:1180px;
  width:61px;
  height:21px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:952px;
  top:1178px;
  width:175px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:572px;
  top:1226px;
  width:61px;
  height:21px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:652px;
  top:1224px;
  width:175px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:842px;
  top:1226px;
  width:95px;
  height:21px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:952px;
  top:1224px;
  width:175px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:572px;
  top:1310px;
  width:134px;
  height:21px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:572px;
  top:1352px;
  width:554px;
  height:150px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:150px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:1026px;
  top:1519px;
  width:100px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:150px;
  top:1571px;
  width:270px;
  height:43px;
  font-size:10px;
  color:#024B8A;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
  -webkit-text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
  -moz-text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
}
#u26 {
  position:absolute;
  left:150px;
  top:1624px;
  width:300px;
  height:147px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:147px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:704px;
  top:1571px;
  width:153px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:704px;
  top:1609px;
  width:55px;
  height:55px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u31 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:705px;
  top:1693px;
  width:52px;
  height:52px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:800px;
  top:1609px;
  width:158px;
  height:18px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:800px;
  top:1630px;
  width:260px;
  height:32px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:950px;
  top:1649px;
  width:100px;
  height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:800px;
  top:1697px;
  width:158px;
  height:18px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:800px;
  top:1717px;
  width:260px;
  height:32px;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:950px;
  top:1749px;
  width:100px;
  height:22px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:1781px;
  width:1700px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:150px;
  top:1802px;
  width:311px;
  height:15px;
  font-size:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:966px;
  top:1802px;
  width:68px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1067px;
  top:1802px;
  width:63px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1154px;
  top:1802px;
  width:113px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1293px;
  top:1802px;
  width:58px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1385px;
  top:1802px;
  width:67px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1473px;
  top:1802px;
  width:80px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1293px;
  top:1571px;
  width:148px;
  height:28px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:28px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1293px;
  top:1693px;
  width:50px;
  height:50px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1360px;
  top:1693px;
  width:50px;
  height:50px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1293px;
  top:1609px;
  width:50px;
  height:50px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1360px;
  top:1609px;
  width:50px;
  height:50px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1506px;
  top:1737px;
  width:34px;
  height:34px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u73 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1513px;
  top:1744px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:80px;
  color:#024B8A;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:80px;
}
#u78 {
  position:absolute;
  left:2px;
  top:32px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
  -webkit-text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
  -moz-text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
}
#u79 {
  position:absolute;
  left:148px;
  top:22px;
  width:270px;
  height:43px;
  font-size:10px;
  color:#024B8A;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
}
#u80 {
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
  -webkit-text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
  -moz-text-shadow:1px 1px 5px rgba(0, 153, 255, 1);
}
#u81 {
  position:absolute;
  left:595px;
  top:34px;
  width:68px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:696px;
  top:34px;
  width:63px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:783px;
  top:34px;
  width:113px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:922px;
  top:34px;
  width:58px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1014px;
  top:34px;
  width:67px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1102px;
  top:34px;
  width:80px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#024B8A;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:1683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1700px;
  height:1px;
}
#u94 {
  position:absolute;
  left:1310px;
  top:23px;
  width:41px;
  height:41px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1377px;
  top:23px;
  width:41px;
  height:41px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1443px;
  top:23px;
  width:41px;
  height:41px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u99 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1509px;
  top:23px;
  width:41px;
  height:41px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1250px;
  top:23px;
  width:41px;
  height:41px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u103 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:150px;
  width:1700px;
  height:932px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:932px;
}
#u105 {
  position:absolute;
  left:2px;
  top:458px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:380px;
  top:300px;
  width:140px;
  height:140px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u107 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:380px;
  top:450px;
  width:140px;
  height:105px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:50px;
  top:310px;
  width:140px;
  height:140px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u111 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:50px;
  top:460px;
  width:140px;
  height:105px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:610px;
  top:198px;
  width:140px;
  height:140px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u115 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:610px;
  top:348px;
  width:140px;
  height:105px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:820px;
  top:270px;
  width:140px;
  height:140px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u119 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:820px;
  top:420px;
  width:140px;
  height:105px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1150px;
  top:385px;
  width:140px;
  height:140px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u123 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1150px;
  top:535px;
  width:140px;
  height:105px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:50px;
  top:692px;
  width:564px;
  height:196px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:196px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:0px;
  top:1120px;
  width:1700px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:1683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1700px;
  height:1px;
}
#u129 {
  position:absolute;
  left:572px;
  top:1270px;
  width:249px;
  height:21px;
  font-size:18px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:21px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:862px;
  top:1270px;
  width:150px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u131_input:disabled {
  color:grayText;
}
