body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:792px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:8px;
  width:130px;
  height:92px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:92px;
}
#u3 {
  position:absolute;
  left:2px;
  top:38px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:346px;
  top:66px;
  width:105px;
  height:23px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:479px;
  top:66px;
  width:113px;
  height:23px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:620px;
  top:66px;
  width:128px;
  height:23px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:775px;
  top:66px;
  width:167px;
  height:23px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1050px;
  top:66px;
  width:131px;
  height:23px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1145px;
  top:0px;
  width:35px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1098px;
  top:0px;
  width:35px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1050px;
  top:0px;
  width:37px;
  height:37px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:969px;
  top:66px;
  width:53px;
  height:23px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:346px;
  top:100px;
  visibility:hidden;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:8px;
  top:10px;
  width:68px;
  height:18px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:479px;
  top:100px;
  visibility:hidden;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:150px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:150px;
}
#u29 {
  position:absolute;
  left:2px;
  top:67px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:7px;
  top:10px;
  width:81px;
  height:18px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:7px;
  top:65px;
  width:68px;
  height:18px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:7px;
  top:120px;
  width:131px;
  height:18px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:7px;
  top:37px;
  width:84px;
  height:18px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:7px;
  top:93px;
  width:75px;
  height:18px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:163px;
  top:10px;
  width:66px;
  height:18px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:163px;
  top:37px;
  width:40px;
  height:18px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:163px;
  top:65px;
  width:67px;
  height:18px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:163px;
  top:93px;
  width:136px;
  height:18px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:100px;
  top:120px;
  width:104px;
  height:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:100px;
  top:220px;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:364px;
  top:1140px;
  width:160px;
  height:200px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u52 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
}
#u54 {
  position:absolute;
  left:2px;
  top:672px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:20px;
  width:160px;
  height:200px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u56 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:194px;
  top:20px;
  width:160px;
  height:200px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u58 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:20px;
  top:930px;
  width:160px;
  height:200px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u60 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:364px;
  top:20px;
  width:160px;
  height:200px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u62 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:194px;
  top:930px;
  width:160px;
  height:200px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u64 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:194px;
  top:230px;
  width:160px;
  height:200px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u66 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:364px;
  top:230px;
  width:160px;
  height:200px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u68 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:364px;
  top:930px;
  width:160px;
  height:200px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u70 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:20px;
  top:230px;
  width:160px;
  height:200px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u72 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:194px;
  top:1140px;
  width:160px;
  height:200px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u74 {
  position:absolute;
  left:2px;
  top:92px;
  width:156px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:20px;
  top:440px;
  width:160px;
  height:200px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u76 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:194px;
  top:440px;
  width:160px;
  height:200px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u78 {
  position:absolute;
  left:2px;
  top:92px;
  width:156px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:364px;
  top:440px;
  width:160px;
  height:200px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u80 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:20px;
  top:650px;
  width:160px;
  height:200px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u82 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:552px;
  top:20px;
  width:508px;
  height:750px;
  font-size:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:750px;
}
#u84 {
  position:absolute;
  left:2px;
  top:352px;
  width:504px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:364px;
  top:1140px;
  width:160px;
  height:200px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u86 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:20px;
  top:1140px;
  width:160px;
  height:200px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u88 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u50_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u50_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
}
#u90 {
  position:absolute;
  left:2px;
  top:672px;
  width:1076px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:20px;
  top:20px;
  width:160px;
  height:200px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u92 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:194px;
  top:20px;
  width:160px;
  height:200px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u94 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:20px;
  top:930px;
  width:160px;
  height:200px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u96 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:364px;
  top:20px;
  width:160px;
  height:200px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u98 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:194px;
  top:930px;
  width:160px;
  height:200px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u100 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:194px;
  top:230px;
  width:160px;
  height:200px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u102 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:364px;
  top:230px;
  width:160px;
  height:200px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u104 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:364px;
  top:930px;
  width:160px;
  height:200px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u106 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:20px;
  top:440px;
  width:160px;
  height:200px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u108 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:20px;
  top:230px;
  width:160px;
  height:200px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u110 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:552px;
  top:20px;
  width:508px;
  height:750px;
  font-size:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:750px;
}
#u112 {
  position:absolute;
  left:2px;
  top:352px;
  width:504px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:20px;
  top:1140px;
  width:160px;
  height:200px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u114 {
  position:absolute;
  left:2px;
  top:92px;
  width:156px;
  word-wrap:break-word;
}
#u50_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u50_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u115 {
  position:absolute;
  left:364px;
  top:1140px;
  width:160px;
  height:200px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u116 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1360px;
}
#u118 {
  position:absolute;
  left:2px;
  top:672px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:20px;
  top:20px;
  width:160px;
  height:200px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u120 {
  position:absolute;
  left:2px;
  top:70px;
  width:156px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:194px;
  top:20px;
  width:160px;
  height:200px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u122 {
  position:absolute;
  left:2px;
  top:78px;
  width:156px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:20px;
  top:930px;
  width:160px;
  height:200px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:200px;
}
#u124 {
  position:absolute;
  left:2px;
  top:85px;
  width:156px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:552px;
  top:20px;
  width:508px;
  height:750px;
  font-size:20px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:750px;
}
#u126 {
  position:absolute;
  left:2px;
  top:352px;
  width:504px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:164px;
  top:170px;
  width:290px;
  height:35px;
  font-size:18px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:35px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:286px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:494px;
  top:170px;
  width:290px;
  height:35px;
  font-size:18px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:35px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:286px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:814px;
  top:170px;
  width:290px;
  height:35px;
  font-size:18px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:35px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:286px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:0px;
  top:1600px;
  width:1280px;
  height:50px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:100px;
  top:1622px;
  width:128px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:15px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:236px;
  top:1622px;
  width:85px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:329px;
  top:1622px;
  width:46px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:385px;
  top:1622px;
  width:49px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
