body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:30px;
  width:262px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:100px;
  top:680px;
  width:150px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:76px;
  width:800px;
  height:584px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:584px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
