body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:7px;
  top:0px;
  width:426px;
  height:888px;
  color:#FFFAE1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:888px;
}
#u1 {
  position:absolute;
  left:2px;
  top:436px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:130px;
  width:377px;
  height:650px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:650px;
}
#u3 {
  position:absolute;
  left:2px;
  top:317px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:34px;
  top:690px;
  width:90px;
  height:90px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:130px;
  top:690px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:225px;
  top:690px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:321px;
  top:690px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:240px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:45px;
  top:237px;
  width:25px;
  height:25px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:474px;
  top:0px;
  width:426px;
  height:888px;
  color:#FFFAE1;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:888px;
}
#u17 {
  position:absolute;
  left:2px;
  top:436px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:501px;
  top:130px;
  width:377px;
  height:650px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:650px;
}
#u19 {
  position:absolute;
  left:2px;
  top:317px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:501px;
  top:690px;
  width:90px;
  height:90px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u21 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:597px;
  top:690px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:692px;
  top:690px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:788px;
  top:690px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:547px;
  top:240px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:512px;
  top:237px;
  width:25px;
  height:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:547px;
  top:310px;
  width:216px;
  height:16px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:512px;
  top:307px;
  width:25px;
  height:25px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:555px;
  top:346px;
  width:269px;
  height:36px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:555px;
  top:392px;
  width:269px;
  height:36px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:555px;
  top:438px;
  width:269px;
  height:36px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:555px;
  top:484px;
  width:269px;
  height:36px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:555px;
  top:530px;
  width:269px;
  height:36px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:555px;
  top:576px;
  width:269px;
  height:36px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:220px;
  top:351px;
  width:120px;
  height:31px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:80px;
  top:305px;
  width:216px;
  height:16px;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:45px;
  top:302px;
  width:25px;
  height:25px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:90px;
  top:351px;
  width:120px;
  height:31px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:34px;
  top:770px;
  width:377px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:24px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:373px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:501px;
  top:770px;
  width:377px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:24px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:373px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:80px;
  top:273px;
  width:211px;
  height:16px;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:45px;
  top:270px;
  width:25px;
  height:25px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:547px;
  top:275px;
  width:211px;
  height:16px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:512px;
  top:272px;
  width:25px;
  height:25px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:942px;
  width:426px;
  height:888px;
  color:#FFFAE1;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:888px;
}
#u63 {
  position:absolute;
  left:2px;
  top:436px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:27px;
  top:1072px;
  width:377px;
  height:650px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:650px;
}
#u65 {
  position:absolute;
  left:2px;
  top:317px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:27px;
  top:1632px;
  width:90px;
  height:90px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u67 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:123px;
  top:1632px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:218px;
  top:1632px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u71 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:314px;
  top:1632px;
  width:90px;
  height:90px;
  font-size:18px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u73 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:73px;
  top:1182px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:38px;
  top:1179px;
  width:25px;
  height:25px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u77 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:73px;
  top:1252px;
  width:216px;
  height:16px;
  font-size:14px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:38px;
  top:1249px;
  width:25px;
  height:25px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:27px;
  top:1712px;
  width:377px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:24px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:373px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:73px;
  top:1217px;
  width:211px;
  height:16px;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:38px;
  top:1214px;
  width:25px;
  height:25px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:83px;
  top:1284px;
  width:265px;
  height:226px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:226px;
}
#u89 {
  position:absolute;
  left:2px;
  top:106px;
  width:261px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:66px;
  top:1520px;
  width:300px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:34px;
  top:130px;
  width:70px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u93 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:263px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u95 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:187px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u97 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:111px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u99 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:340px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u101 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:502px;
  top:130px;
  width:70px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u103 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:730px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u105 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:654px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u107 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:578px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u109 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:808px;
  top:130px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u111 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:28px;
  top:1072px;
  width:70px;
  height:70px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u113 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:257px;
  top:1072px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u115 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:181px;
  top:1072px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u117 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:105px;
  top:1072px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u119 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:334px;
  top:1072px;
  width:70px;
  height:70px;
  font-size:18px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u121 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:630px;
  top:629px;
  width:120px;
  height:31px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:694px;
  top:670px;
  width:120px;
  height:31px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u125 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:564px;
  top:670px;
  width:120px;
  height:31px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:221px;
  top:1570px;
  width:120px;
  height:31px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u129 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:91px;
  top:1570px;
  width:120px;
  height:31px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
