body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:60px;
  width:1280px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:410px;
  width:920px;
  height:360px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:360px;
}
#u3 {
  position:absolute;
  left:2px;
  top:172px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:180px;
  top:780px;
  width:920px;
  height:324px;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:324px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:1210px;
  width:1280px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u8 {
  position:absolute;
  left:180px;
  top:1090px;
  width:149px;
  height:110px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:110px;
}
#u9 {
  position:absolute;
  left:2px;
  top:47px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:585px;
  top:1090px;
  width:113px;
  height:110px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:110px;
}
#u11 {
  position:absolute;
  left:2px;
  top:47px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:954px;
  top:1090px;
  width:146px;
  height:110px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:110px;
}
#u13 {
  position:absolute;
  left:2px;
  top:47px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:890px;
  top:1240px;
  width:40px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1053px;
  top:1240px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:999px;
  top:1240px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:944px;
  top:1240px;
  width:40px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:1290px;
  width:1280px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u23 {
  position:fixed;
  left:180px;
  top:0px;
}
#u23_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:190px;
  top:0px;
  width:150px;
  height:50px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:385px;
  top:0px;
  width:150px;
  height:50px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:575px;
  top:0px;
  width:150px;
  height:50px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:770px;
  top:0px;
  width:150px;
  height:50px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
