body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:110px;
}
#u2 {
  position:absolute;
  left:2px;
  top:47px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:10px;
  width:210px;
  height:88px;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
}
#u4 {
  position:absolute;
  left:2px;
  top:32px;
  width:206px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1050px;
  top:30px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1110px;
  top:30px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:990px;
  top:30px;
  width:50px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1180px;
  top:25px;
  width:60px;
  height:60px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:930px;
  top:30px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:130px;
  width:370px;
  height:440px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:440px;
}
#u16 {
  position:absolute;
  left:2px;
  top:212px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:467px;
  top:130px;
  width:216px;
  height:37px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:37px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:467px;
  top:177px;
  width:81px;
  height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:467px;
  top:225px;
  width:23px;
  height:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:500px;
  top:217px;
  width:30px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:540px;
  top:219px;
  width:23px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:583px;
  top:215px;
  width:100px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:467px;
  top:259px;
  width:120px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:467px;
  top:297px;
  width:133px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:467px;
  top:335px;
  width:773px;
  height:72px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:72px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:590px;
  width:1280px;
  height:180px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:180px;
}
#u37 {
  position:absolute;
  left:2px;
  top:82px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:50px;
  top:612px;
  width:210px;
  height:88px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:88px;
}
#u39 {
  position:absolute;
  left:2px;
  top:32px;
  width:206px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:710px;
  width:210px;
  height:45px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:45px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:395px;
  top:600px;
  width:10px;
  height:158px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:141px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:158px;
}
#u43 {
  position:absolute;
  left:799px;
  top:600px;
  width:10px;
  height:158px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:141px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:158px;
}
#u44 {
  position:absolute;
  left:463px;
  top:665px;
  width:108px;
  height:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:463px;
  top:714px;
  width:50px;
  height:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:640px;
  top:665px;
  width:72px;
  height:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:859px;
  top:616px;
  width:351px;
  height:37px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:37px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1040px;
  top:680px;
  width:50px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1100px;
  top:680px;
  width:50px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:980px;
  top:680px;
  width:50px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:920px;
  top:680px;
  width:50px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:463px;
  top:616px;
  width:128px;
  height:28px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:640px;
  top:616px;
  width:71px;
  height:28px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
