body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:987px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:650px;
  top:15px;
  width:80px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:12px;
  top:9px;
  width:48px;
  height:45px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:255px;
  top:192px;
  width:280px;
  height:50px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:262px;
  top:197px;
  width:251px;
  height:39px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:39px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:518px;
  top:213px;
  width:8px;
  height:6px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:211px;
  width:150px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:332px;
  width:182px;
  height:42px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:42px;
}
#u15 {
  position:absolute;
  left:2px;
  top:13px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:84px;
  top:337px;
  width:161px;
  height:33px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:250px;
  top:350px;
  width:5px;
  height:5px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:255px;
  top:1148px;
  width:280px;
  height:40px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:255px;
  top:1224px;
  width:279px;
  height:46px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:46px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:80px;
  top:416px;
  width:106px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:23px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:80px;
  top:1150px;
  width:143px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:23px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:80px;
  top:1229px;
  width:113px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:80px;
  top:1080px;
  width:175px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:76px;
  top:957px;
  width:113px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:80px;
  top:492px;
  width:193px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:23px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:223px;
  top:402px;
  width:280px;
  height:47px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:316px;
  top:332px;
  width:187px;
  height:42px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u34_input:disabled {
  color:grayText;
}
#u35 {
  position:absolute;
  left:80px;
  top:1300px;
  width:106px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:80px;
  top:128px;
  width:72px;
  height:23px;
  font-size:20px;
  color:#0099FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:255px;
  top:110px;
  width:280px;
  height:48px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:48px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u39_input:disabled {
  color:grayText;
}
#u40 {
  position:absolute;
  left:80px;
  top:292px;
  width:125px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:80px;
  top:1022px;
  width:133px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:1390px;
  width:768px;
  height:110px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:110px;
}
#u46 {
  position:absolute;
  left:2px;
  top:47px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:461px;
  top:1408px;
  width:48px;
  height:45px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:446px;
  top:1463px;
  width:79px;
  height:23px;
  font-size:20px;
  color:#0099FF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:660px;
  top:1408px;
  width:50px;
  height:45px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u52 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:629px;
  top:1463px;
  width:112px;
  height:23px;
  font-size:20px;
  color:#0099FF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:271px;
  top:1408px;
  width:48px;
  height:45px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:260px;
  top:1463px;
  width:69px;
  height:23px;
  font-size:20px;
  color:#0099FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:60px;
  top:1408px;
  width:50px;
  height:50px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:43px;
  top:1463px;
  width:84px;
  height:23px;
  font-size:20px;
  color:#0099FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:197px;
  top:554px;
  width:112px;
  height:31px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u64 {
  position:absolute;
  left:438px;
  top:554px;
  width:112px;
  height:31px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u65 {
  position:absolute;
  left:197px;
  top:611px;
  width:112px;
  height:31px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u66 {
  position:absolute;
  left:438px;
  top:612px;
  width:112px;
  height:31px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u67 {
  position:absolute;
  left:197px;
  top:668px;
  width:112px;
  height:31px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u68 {
  position:absolute;
  left:197px;
  top:725px;
  width:112px;
  height:31px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u69 {
  position:absolute;
  left:197px;
  top:782px;
  width:112px;
  height:31px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u70 {
  position:absolute;
  left:197px;
  top:839px;
  width:112px;
  height:31px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u71 {
  position:absolute;
  left:197px;
  top:896px;
  width:112px;
  height:31px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u72 {
  position:absolute;
  left:438px;
  top:669px;
  width:112px;
  height:31px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u73 {
  position:absolute;
  left:438px;
  top:726px;
  width:112px;
  height:31px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u74 {
  position:absolute;
  left:438px;
  top:783px;
  width:112px;
  height:31px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u75 {
  position:absolute;
  left:438px;
  top:842px;
  width:112px;
  height:31px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u76 {
  position:absolute;
  left:438px;
  top:899px;
  width:112px;
  height:31px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u77 {
  position:absolute;
  left:577px;
  top:560px;
  width:33px;
  height:16px;
  font-size:20px;
  color:#1E1E1E;
}
#u78 {
  position:absolute;
  left:16px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u79 {
  position:absolute;
  left:577px;
  top:617px;
  width:33px;
  height:16px;
  font-size:20px;
  color:#1E1E1E;
}
#u80 {
  position:absolute;
  left:16px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u81 {
  position:absolute;
  left:577px;
  top:672px;
  width:33px;
  height:16px;
  font-size:20px;
  color:#1E1E1E;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:577px;
  top:729px;
  width:33px;
  height:16px;
  font-size:20px;
  color:#1E1E1E;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:577px;
  top:788px;
  width:33px;
  height:16px;
  font-size:20px;
  color:#1E1E1E;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87 {
  position:absolute;
  left:577px;
  top:845px;
  width:33px;
  height:16px;
  font-size:20px;
  color:#1E1E1E;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:577px;
  top:900px;
  width:33px;
  height:16px;
  font-size:20px;
  color:#1E1E1E;
}
#u90 {
  position:absolute;
  left:16px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91 {
  position:absolute;
  left:255px;
  top:1010px;
  width:280px;
  height:52px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:52px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#1E1E1E;
}
#u91_input:disabled {
  color:grayText;
}
#u92 {
  position:absolute;
  left:955px;
  top:381px;
  width:32px;
  height:16px;
  color:#1E1E1E;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:80px;
  top:560px;
  width:72px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:80px;
  top:617px;
  width:77px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:80px;
  top:672px;
  width:106px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:23px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:80px;
  top:729px;
  width:84px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:80px;
  top:786px;
  width:57px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:80px;
  top:843px;
  width:81px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:80px;
  top:899px;
  width:69px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:353px;
  top:560px;
  width:22px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:637px;
  top:557px;
  width:74px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:353px;
  top:617px;
  width:22px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:637px;
  top:614px;
  width:74px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:353px;
  top:672px;
  width:22px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:637px;
  top:671px;
  width:74px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:353px;
  top:732px;
  width:22px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:637px;
  top:729px;
  width:74px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:353px;
  top:788px;
  width:22px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:637px;
  top:785px;
  width:74px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:353px;
  top:845px;
  width:22px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:637px;
  top:842px;
  width:74px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:353px;
  top:900px;
  width:22px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:637px;
  top:899px;
  width:74px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
