body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:600px;
  top:136px;
  width:81px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:120px;
  top:186px;
  width:162px;
  height:18px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:120px;
  top:215px;
  width:260px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:400px;
  top:215px;
  width:100px;
  height:25px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:120px;
  top:250px;
  width:1040px;
  height:120px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:120px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  height:156px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:156px;
}
#u11 {
  position:absolute;
  left:2px;
  top:70px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:458px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:791px;
  top:50px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:166px;
  width:1280px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u19 {
  position:absolute;
  left:855px;
  top:50px;
  width:40px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1130px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:962px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:794px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:880px;
  top:28px;
  width:15px;
  height:16px;
  font-size:18px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:385px;
  top:50px;
  width:390px;
  height:40px;
  font-size:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:386px;
  word-wrap:break-word;
}
#u29_ann {
  position:absolute;
  left:768px;
  top:46px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:626px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:938px;
  top:54px;
  width:304px;
  height:32px;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:24px;
  top:423px;
  width:260px;
  height:156px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:156px;
}
#u39 {
  position:absolute;
  left:2px;
  top:70px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:507px;
  top:423px;
  width:98px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:505px;
  top:450px;
  width:225px;
  height:142px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:142px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:392px;
  width:1280px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u45 {
  position:absolute;
  left:312px;
  top:476px;
  width:78px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:312px;
  top:556px;
  width:159px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:21px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:312px;
  top:529px;
  width:113px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:874px;
  top:492px;
  width:119px;
  height:48px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
}
#u52 {
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1024px;
  top:484px;
  width:80px;
  height:64px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u54 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1142px;
  top:462px;
  width:46px;
  height:46px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u56 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1204px;
  top:524px;
  width:46px;
  height:46px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u58 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:602px;
  width:1280px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u60 {
  position:absolute;
  left:438px;
  top:622px;
  width:405px;
  height:32px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:32px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1204px;
  top:462px;
  width:46px;
  height:46px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u63 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1142px;
  top:524px;
  width:46px;
  height:46px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u65 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:318px;
  top:423px;
  width:93px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:312px;
  top:450px;
  width:90px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:312px;
  top:503px;
  width:67px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:730px;
  top:492px;
  width:128px;
  height:48px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:48px;
}
#u73 {
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
