body {
  margin:0px;
  background-color:rgba(248, 248, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:968px;
  width:960px;
  height:292px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:292px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:70px;
  width:960px;
  height:40px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:110px;
  width:960px;
  height:385px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:385px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:url('../../images/home1/u2_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:1540px;
  width:960px;
  height:220px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:220px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(47, 51, 56, 1);
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:1560px;
  width:99px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:1586px;
  width:470px;
  height:144px;
  font-size:10px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:144px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:576px;
  top:1560px;
  width:46px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:810px;
  top:1560px;
  width:121px;
  height:15px;
  font-size:13px;
  color:#CCCCCC;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:570px;
  top:1586px;
  width:99px;
  height:134px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:134px;
}
#u14 {
  position:absolute;
  left:2px;
  top:59px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:800px;
  top:1586px;
  width:97px;
  height:144px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:144px;
}
#u16 {
  position:absolute;
  left:2px;
  top:64px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:1760px;
  width:960px;
  height:90px;
  overflow:hidden;
}
#u17_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(33, 37, 43, 1);
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:1px;
  top:1797px;
  width:265px;
  height:15px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:629px;
  top:1646px;
  width:39px;
  height:12px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:590px;
  top:1674px;
  width:32px;
  height:12px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:48px;
  top:322px;
  width:865px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:42px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:298px;
  top:364px;
  width:364px;
  height:23px;
  font-size:22px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:23px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:11px;
  top:1010px;
  width:343px;
  height:23px;
  font-size:20px;
  color:#717A8F;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:23px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:23px;
  top:84px;
  width:54px;
  height:12px;
  font-size:11px;
  color:#3396D1;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:12px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:82px;
  width:16px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:94px;
  top:85px;
  width:19px;
  height:11px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:120px;
  top:86px;
  width:90px;
  height:12px;
  font-size:11px;
  color:#3396D1;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:12px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:440px;
  top:420px;
  width:36px;
  height:45px;
  font-family:'', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:45px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
  opacity:0.8;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:236px;
  top:420px;
  width:202px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:45px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
  opacity:0.8;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:236px;
  top:467px;
  visibility:hidden;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:9px;
  width:240px;
  height:201px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:201px;
}
#u44 {
  position:absolute;
  left:2px;
  top:92px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:211px;
  top:0px;
  width:20px;
  height:9px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:19px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u47_img.selected {
}
#u47.selected {
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_img.mouseDown {
}
#u47.mouseDown {
}
#u48 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:56px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u49_img.selected {
}
#u49.selected {
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u49_img.mouseDown {
}
#u49.mouseDown {
}
#u50 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:93px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u51_img.selected {
}
#u51.selected {
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_img.mouseDown {
}
#u51.mouseDown {
}
#u52 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:130px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u53_img.selected {
}
#u53.selected {
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_img.mouseDown {
}
#u53.mouseDown {
}
#u54 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:167px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u55_img.selected {
}
#u55.selected {
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u55_img.mouseDown {
}
#u55.mouseDown {
}
#u56 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:714px;
  top:420px;
  width:36px;
  height:45px;
  font-family:'', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:45px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
  opacity:0.8;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:510px;
  top:420px;
  width:202px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:45px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
  opacity:0.8;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:510px;
  top:467px;
  width:240px;
  height:133px;
  overflow:hidden;
  visibility:hidden;
}
#u61_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:133px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u61_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:9px;
  width:240px;
  height:141px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:141px;
}
#u63 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:211px;
  top:0px;
  width:20px;
  height:9px;
  font-family:'', '', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:19px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u66_img.selected {
}
#u66.selected {
}
#u66_img.mouseOver {
}
#u66.mouseOver {
}
#u66_img.mouseDown {
}
#u66.mouseDown {
}
#u67 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:56px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u68_img.selected {
}
#u68.selected {
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u68_img.mouseDown {
}
#u68.mouseDown {
}
#u69 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:93px;
  width:240px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u70_img.selected {
}
#u70.selected {
}
#u70_img.mouseOver {
}
#u70.mouseOver {
}
#u70_img.mouseDown {
}
#u70.mouseDown {
}
#u71 {
  position:absolute;
  left:20px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:11px;
  top:1045px;
  width:390px;
  height:185px;
  color:#34475E;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:185px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:246px;
  top:563px;
  width:504px;
  height:32px;
  font-size:28px;
  color:#717A8F;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:32px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:220px;
  top:597px;
  width:551px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#717A8F;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:23px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:227px;
  top:86px;
  width:15px;
  height:13px;
  font-family:'', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399CC;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:241px;
  top:86px;
  width:48px;
  height:12px;
  font-size:11px;
  color:#3396D1;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u83 {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:0px;
  width:960px;
  height:70px;
  overflow:hidden;
}
#u83_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(9, 85, 126, 1);
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:537px;
  top:19px;
  width:453px;
  height:38px;
}
#u84_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:459px;
  height:44px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:43px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:38px;
}
#u87 {
  position:absolute;
  left:2px;
  top:13px;
  width:114px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:118px;
  top:0px;
  width:99px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u89 {
  position:absolute;
  left:2px;
  top:13px;
  width:95px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:217px;
  top:0px;
  width:112px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u91 {
  position:absolute;
  left:2px;
  top:13px;
  width:108px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:329px;
  top:0px;
  width:124px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:38px;
}
#u93 {
  position:absolute;
  left:2px;
  top:13px;
  width:120px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:10px;
  top:24px;
  width:140px;
  height:21px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:220px;
  top:650px;
  width:170px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:530px;
  top:710px;
  width:230px;
  height:126px;
  color:#34475E;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:126px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:220px;
  top:710px;
  width:300px;
  height:140px;
  font-size:18px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u101 {
  position:absolute;
  left:2px;
  top:62px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:400px;
  top:650px;
  width:170px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u103 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:580px;
  top:650px;
  width:170px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:50px;
}
#u105 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  word-wrap:break-word;
}
