body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:684px;
  width:1280px;
  height:210px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:210px;
}
#u2 {
  position:absolute;
  left:2px;
  top:97px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:706px;
  width:134px;
  height:63px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:63px;
}
#u4 {
  position:absolute;
  left:2px;
  top:24px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_ann {
  position:absolute;
  left:227px;
  top:702px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:383px;
  top:706px;
  width:174px;
  height:18px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:383px;
  top:754px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:452px;
  top:754px;
  width:92px;
  height:16px;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:452px;
  top:772px;
  width:300px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:383px;
  top:818px;
  width:50px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:452px;
  top:818px;
  width:92px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:452px;
  top:836px;
  width:300px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:802px;
  top:706px;
  width:85px;
  height:18px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:802px;
  top:754px;
  width:53px;
  height:16px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:802px;
  top:778px;
  width:58px;
  height:16px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:802px;
  top:803px;
  width:56px;
  height:16px;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:802px;
  top:828px;
  width:97px;
  height:16px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:802px;
  top:852px;
  width:137px;
  height:16px;
  font-size:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:990px;
  top:706px;
  width:169px;
  height:18px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:990px;
  top:764px;
  width:31px;
  height:31px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_ann {
  position:absolute;
  left:1014px;
  top:760px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:1043px;
  top:764px;
  width:31px;
  height:31px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1096px;
  top:764px;
  width:31px;
  height:31px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_ann {
  position:absolute;
  left:1120px;
  top:760px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:1149px;
  top:764px;
  width:31px;
  height:31px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:779px;
  width:232px;
  height:32px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:100px;
  top:821px;
  width:150px;
  height:64px;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:64px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:100px;
  top:96px;
  width:1080px;
  height:554px;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:554px;
}
#u46 {
  position:absolute;
  left:2px;
  top:256px;
  width:1076px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
}
#u48 {
  position:absolute;
  left:2px;
  top:32px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:100px;
  top:8px;
  width:134px;
  height:63px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:63px;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_ann {
  position:absolute;
  left:227px;
  top:4px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:302px;
  top:49px;
  width:53px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:524px;
  top:49px;
  width:79px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:628px;
  top:49px;
  width:93px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:891px;
  top:49px;
  width:68px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:1025px;
  top:9px;
  width:30px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_ann {
  position:absolute;
  left:1048px;
  top:5px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:1067px;
  top:10px;
  width:28px;
  height:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1108px;
  top:10px;
  width:28px;
  height:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_ann {
  position:absolute;
  left:1129px;
  top:6px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:1149px;
  top:8px;
  width:31px;
  height:31px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:749px;
  top:49px;
  width:48px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:824px;
  top:49px;
  width:41px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:302px;
  top:81px;
  visibility:hidden;
}
#u71_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u71_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:39px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:10px;
  top:9px;
  width:90px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:524px;
  top:81px;
  visibility:hidden;
}
#u76_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u76_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:264px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:264px;
}
#u78 {
  position:absolute;
  left:2px;
  top:124px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:11px;
  top:11px;
  width:86px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:11px;
  top:43px;
  width:92px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:11px;
  top:75px;
  width:99px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:21px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:11px;
  top:107px;
  width:102px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:11px;
  top:139px;
  width:165px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:11px;
  top:171px;
  width:178px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:21px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:11px;
  top:203px;
  width:181px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:11px;
  top:235px;
  width:224px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:21px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:628px;
  top:81px;
  visibility:hidden;
}
#u95_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u95_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:170px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:170px;
}
#u97 {
  position:absolute;
  left:2px;
  top:77px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:13px;
  top:8px;
  width:100px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:13px;
  top:41px;
  width:108px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:13px;
  top:73px;
  width:126px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:21px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:13px;
  top:105px;
  width:189px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:21px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:13px;
  top:137px;
  width:156px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:380px;
  top:49px;
  width:116px;
  height:21px;
  font-size:18px;
  color:#1E1E1E;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:380px;
  top:81px;
  visibility:hidden;
}
#u110_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u110_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:140px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:140px;
}
#u112 {
  position:absolute;
  left:2px;
  top:62px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:12px;
  top:10px;
  width:191px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:12px;
  top:42px;
  width:170px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:12px;
  top:76px;
  width:75px;
  height:24px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:12px;
  top:110px;
  width:45px;
  height:24px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
