body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:1280px;
  height:670px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:670px;
}
#u3 {
  position:absolute;
  left:2px;
  top:327px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_ann {
  position:absolute;
  left:1283px;
  top:6px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:585px;
  top:78px;
  width:130px;
  height:92px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:92px;
}
#u5 {
  position:absolute;
  left:2px;
  top:38px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:680px;
  width:1280px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:110px;
  top:702px;
  width:128px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:246px;
  top:702px;
  width:85px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:339px;
  top:702px;
  width:46px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:395px;
  top:702px;
  width:49px;
  height:15px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:522px;
  top:199px;
  width:256px;
  height:84px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:84px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:104px;
  top:394px;
  width:354px;
  height:140px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:140px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:490px;
  top:394px;
  width:325px;
  height:140px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:140px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:880px;
  top:394px;
  width:275px;
  height:140px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:140px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
