body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:136px;
  top:314px;
  width:100px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:358px;
  top:298px;
  width:254px;
  height:56px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:56px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u3 {
  position:absolute;
  left:136px;
  top:427px;
  width:159px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:143px;
  top:1095px;
  width:405px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:358px;
  top:522px;
  width:252px;
  height:60px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u7_input:disabled {
  color:grayText;
}
#u8 {
  position:absolute;
  left:136px;
  top:750px;
  width:84px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:136px;
  top:846px;
  width:41px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:136px;
  top:540px;
  width:166px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:136px;
  top:653px;
  width:42px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:358px;
  top:634px;
  width:254px;
  height:60px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u17 {
  position:absolute;
  left:358px;
  top:827px;
  width:254px;
  height:180px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:180px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u18 {
  position:absolute;
  left:358px;
  top:736px;
  width:254px;
  height:51px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:51px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:13px;
  width:35px;
  height:35px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:246px;
  top:13px;
  width:35px;
  height:35px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:695px;
  top:13px;
  width:35px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:633px;
  top:49px;
  width:97px;
  height:174px;
  overflow:hidden;
  visibility:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:174px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:170px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:170px;
}
#u30 {
  position:absolute;
  left:2px;
  top:77px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:8px;
  top:122px;
  width:80px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:8px;
  top:15px;
  width:80px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:8px;
  top:68px;
  width:80px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u36 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:22px;
  top:54px;
  width:97px;
  height:174px;
  overflow:hidden;
  visibility:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:174px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:170px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:170px;
}
#u39 {
  position:absolute;
  left:2px;
  top:77px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:8px;
  top:122px;
  width:80px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u41 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:8px;
  top:15px;
  width:80px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u43 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:8px;
  top:68px;
  width:80px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:471px;
  top:13px;
  width:35px;
  height:35px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:1130px;
  width:768px;
  height:90px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:90px;
}
#u50 {
  position:absolute;
  left:2px;
  top:37px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:33px;
  top:1185px;
  width:95px;
  height:21px;
  font-size:18px;
  color:#0099FF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:252px;
  top:1187px;
  width:62px;
  height:21px;
  font-size:18px;
  color:#0099FF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:670px;
  top:1150px;
  width:35px;
  height:35px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:63px;
  top:1150px;
  width:35px;
  height:35px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:668px;
  top:1185px;
  width:37px;
  height:23px;
  font-size:18px;
  color:#0099FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:266px;
  top:1150px;
  width:35px;
  height:35px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:442px;
  top:1185px;
  width:82px;
  height:23px;
  font-size:18px;
  color:#0099FF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:468px;
  top:1150px;
  width:35px;
  height:35px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:358px;
  top:409px;
  width:255px;
  height:60px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u67_input:disabled {
  color:grayText;
}
#u68 {
  position:absolute;
  left:136px;
  top:1020px;
  width:128px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:143px;
  top:140px;
  width:440px;
  height:40px;
  overflow:hidden;
}
#u70_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u70_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:20px;
  top:11px;
  width:79px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:350px;
  top:6px;
  width:60px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:114px;
  top:6px;
  width:213px;
  height:26px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:26px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u78 {
  position:absolute;
  left:34px;
  top:80px;
  width:224px;
  height:37px;
  color:#0099FF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:37px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:34px;
  top:228px;
  width:261px;
  height:37px;
  color:#0099FF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:37px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:310px;
  top:1020px;
  width:128px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:484px;
  top:1017px;
  width:128px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:11px;
  width:124px;
  word-wrap:break-word;
}
