body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:6px;
  width:64px;
  height:89px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:89px;
}
#u4 {
  position:absolute;
  left:2px;
  top:36px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:929px;
  top:62px;
  width:108px;
  height:28px;
  font-size:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:470px;
  top:62px;
  width:92px;
  height:28px;
  font-size:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:784px;
  top:62px;
  width:132px;
  height:28px;
  font-size:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:577px;
  top:62px;
  width:193px;
  height:28px;
  font-size:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1053px;
  top:62px;
  width:128px;
  height:28px;
  font-size:24px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:968px;
  top:6px;
  width:30px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1004px;
  top:7px;
  width:178px;
  height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:28px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:100px;
  width:1280px;
  height:100px;
  font-size:14px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:132px;
  width:359px;
  height:37px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:817px;
  top:142px;
  width:357px;
  height:16px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:100px;
  top:220px;
  width:362px;
  height:220px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:220px;
}
#u26 {
  position:absolute;
  left:2px;
  top:102px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:510px;
  top:245px;
  width:670px;
  height:80px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:80px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:100px;
  top:470px;
  width:1080px;
  height:540px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:540px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:510px;
  top:389px;
  width:170px;
  height:51px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:166px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:540px;
  top:1020px;
  width:200px;
  height:60px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:620px;
  top:346px;
  width:40px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:510px;
  top:350px;
  width:70px;
  height:16px;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:100px;
  top:1110px;
  width:300px;
  height:180px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u39 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:490px;
  top:1110px;
  width:300px;
  height:180px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u41 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:880px;
  top:1110px;
  width:300px;
  height:180px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u43 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:146px;
  top:1300px;
  width:209px;
  height:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:536px;
  top:1300px;
  width:209px;
  height:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:926px;
  top:1300px;
  width:209px;
  height:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:100px;
  top:1338px;
  width:300px;
  height:60px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:490px;
  top:1338px;
  width:300px;
  height:60px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:880px;
  top:1338px;
  width:300px;
  height:60px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:142px;
  top:1412px;
  width:216px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#3333FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:532px;
  top:1412px;
  width:216px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#3333FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:922px;
  top:1412px;
  width:216px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#3333FF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:1460px;
  width:1280px;
  height:160px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:160px;
}
#u64 {
  position:absolute;
  left:2px;
  top:72px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:496px;
  top:1504px;
  width:50px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:390px;
  top:1504px;
  width:50px;
  height:50px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:840px;
  top:1504px;
  width:47px;
  height:47px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u70 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:734px;
  top:1504px;
  width:50px;
  height:50px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:601px;
  top:1475px;
  width:78px;
  height:109px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:109px;
}
#u74 {
  position:absolute;
  left:2px;
  top:46px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
