body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:1176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:820px;
  top:25px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3_ann {
  position:absolute;
  left:913px;
  top:21px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:940px;
  top:25px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1060px;
  top:25px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:25px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u9_ann {
  position:absolute;
  left:113px;
  top:21px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:140px;
  top:25px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:260px;
  top:25px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:380px;
  top:9px;
  width:420px;
  height:62px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:62px;
}
#u16 {
  position:absolute;
  left:2px;
  top:23px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:910px;
  width:1180px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u20 {
  position:absolute;
  left:783px;
  top:930px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:905px;
  top:930px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:970px;
  width:1180px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u25 {
  position:absolute;
  left:480px;
  top:990px;
  width:190px;
  height:105px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:105px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:720px;
  top:990px;
  width:190px;
  height:105px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:105px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:955px;
  top:1021px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:460px;
  top:990px;
  width:10px;
  height:112px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:95px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:112px;
}
#u32 {
  position:absolute;
  left:690px;
  top:990px;
  width:10px;
  height:112px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:95px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:112px;
}
#u33 {
  position:absolute;
  left:930px;
  top:990px;
  width:10px;
  height:112px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:95px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:112px;
}
#u34 {
  position:absolute;
  left:0px;
  top:1120px;
  width:1180px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u35 {
  position:absolute;
  left:328px;
  top:1140px;
  width:524px;
  height:36px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:36px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:170px;
  top:930px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:297px;
  top:930px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:420px;
  top:930px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:540px;
  top:930px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:660px;
  top:930px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:30px;
  top:1015px;
  width:420px;
  height:62px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:62px;
}
#u48 {
  position:absolute;
  left:2px;
  top:23px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1033px;
  top:1019px;
  width:50px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1110px;
  top:1019px;
  width:50px;
  height:50px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:-10px;
  top:110px;
  width:1190px;
  height:240px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:240px;
}
#u54 {
  position:absolute;
  left:2px;
  top:112px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:90px;
  width:1180px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:360px;
  width:1180px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u57 {
  position:absolute;
  left:313px;
  top:590px;
  width:187px;
  height:270px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:270px;
}
#u58 {
  position:absolute;
  left:2px;
  top:127px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:140px;
  top:393px;
  width:900px;
  height:169px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:169px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:680px;
  top:590px;
  width:187px;
  height:270px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:270px;
}
#u62 {
  position:absolute;
  left:2px;
  top:127px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:314px;
  top:870px;
  width:184px;
  height:30px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:690px;
  top:870px;
  width:166px;
  height:30px;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
