body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  height:156px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:156px;
}
#u2 {
  position:absolute;
  left:2px;
  top:70px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:290px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:458px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:791px;
  top:50px;
  width:40px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:166px;
  width:1280px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u10 {
  position:absolute;
  left:855px;
  top:50px;
  width:40px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1130px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:962px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:794px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:880px;
  top:28px;
  width:15px;
  height:16px;
  font-size:18px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:385px;
  top:50px;
  width:390px;
  height:40px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:386px;
  word-wrap:break-word;
}
#u20_ann {
  position:absolute;
  left:768px;
  top:46px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:626px;
  top:116px;
  width:120px;
  height:40px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:938px;
  top:54px;
  width:304px;
  height:32px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:594px;
  top:186px;
  width:92px;
  height:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:428px;
  top:226px;
  width:82px;
  height:21px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:540px;
  top:224px;
  width:200px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:357px;
  top:259px;
  width:569px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:357px;
  top:291px;
  width:153px;
  height:21px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:540px;
  top:291px;
  width:200px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:357px;
  top:332px;
  width:118px;
  height:21px;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:540px;
  top:332px;
  width:200px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38_input:disabled {
  color:grayText;
}
#u39 {
  position:absolute;
  left:357px;
  top:372px;
  width:121px;
  height:42px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:42px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:540px;
  top:372px;
  width:200px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:640px;
  top:442px;
  width:100px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:24px;
  top:525px;
  width:260px;
  height:156px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:156px;
}
#u48 {
  position:absolute;
  left:2px;
  top:70px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:507px;
  top:525px;
  width:98px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:505px;
  top:552px;
  width:225px;
  height:142px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:142px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:494px;
  width:1280px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u54 {
  position:absolute;
  left:312px;
  top:578px;
  width:78px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:312px;
  top:658px;
  width:159px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:21px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:312px;
  top:631px;
  width:113px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:874px;
  top:594px;
  width:119px;
  height:48px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:48px;
}
#u61 {
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1024px;
  top:586px;
  width:80px;
  height:64px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:64px;
}
#u63 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1142px;
  top:564px;
  width:46px;
  height:46px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u65 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1204px;
  top:626px;
  width:46px;
  height:46px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u67 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:704px;
  width:1280px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:1263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1280px;
  height:1px;
}
#u69 {
  position:absolute;
  left:438px;
  top:724px;
  width:405px;
  height:32px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:32px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1204px;
  top:564px;
  width:46px;
  height:46px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u72 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1142px;
  top:626px;
  width:46px;
  height:46px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u74 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:318px;
  top:525px;
  width:93px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:312px;
  top:552px;
  width:90px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:312px;
  top:605px;
  width:67px;
  height:21px;
  font-family:'ArialMT', 'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:730px;
  top:594px;
  width:128px;
  height:48px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:48px;
}
#u82 {
  position:absolute;
  left:2px;
  top:16px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
