body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:30px;
  top:95px;
  width:88px;
  height:32px;
  font-size:28px;
  color:#000000;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:30px;
  top:176px;
  width:80px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:30px;
  top:217px;
  width:104px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:30px;
  top:258px;
  width:132px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:23px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:30px;
  top:299px;
  width:63px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:30px;
  top:380px;
  width:141px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:23px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:30px;
  top:421px;
  width:140px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:30px;
  top:340px;
  width:117px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:148px;
  top:25px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:22px;
  top:25px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:86px;
  top:25px;
  width:30px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:462px;
  width:107px;
  height:23px;
  font-size:20px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:23px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:250px;
  top:34px;
  width:166px;
  height:37px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:1140px;
  top:34px;
  width:110px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:735px;
  top:100px;
  width:10px;
  height:1300px;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:1283px;
  width:20px;
  height:18px;
}
#u29_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:1300px;
}
#u30 {
  position:absolute;
  left:250px;
  top:210px;
  width:260px;
  height:60px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30_input:disabled {
  color:grayText;
}
#u31 {
  position:absolute;
  left:250px;
  top:152px;
  width:158px;
  height:28px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:790px;
  top:152px;
  width:154px;
  height:28px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:790px;
  top:210px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:790px;
  top:243px;
  width:240px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u38 {
  position:absolute;
  left:1020px;
  top:218px;
  width:20px;
  height:16px;
  color:#000000;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:790px;
  top:257px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:790px;
  top:290px;
  width:240px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u43 {
  position:absolute;
  left:1020px;
  top:265px;
  width:20px;
  height:16px;
  color:#000000;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:790px;
  top:300px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:790px;
  top:333px;
  width:240px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u48 {
  position:absolute;
  left:1020px;
  top:308px;
  width:20px;
  height:16px;
  color:#000000;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:790px;
  top:347px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:790px;
  top:380px;
  width:240px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u53 {
  position:absolute;
  left:1020px;
  top:355px;
  width:20px;
  height:16px;
  color:#000000;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:790px;
  top:390px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:790px;
  top:423px;
  width:240px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u58 {
  position:absolute;
  left:1020px;
  top:398px;
  width:20px;
  height:16px;
  color:#000000;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:790px;
  top:437px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:790px;
  top:470px;
  width:240px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u63 {
  position:absolute;
  left:1020px;
  top:445px;
  width:20px;
  height:16px;
  color:#000000;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:790px;
  top:480px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:790px;
  top:513px;
  width:240px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u68 {
  position:absolute;
  left:1020px;
  top:488px;
  width:20px;
  height:16px;
  color:#000000;
}
#u69 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70 {
  position:absolute;
  left:790px;
  top:527px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:790px;
  top:560px;
  width:240px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u73 {
  position:absolute;
  left:1020px;
  top:535px;
  width:20px;
  height:16px;
  color:#000000;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u75 {
  position:absolute;
  left:790px;
  top:570px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:790px;
  top:603px;
  width:240px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u78 {
  position:absolute;
  left:1020px;
  top:578px;
  width:20px;
  height:16px;
  color:#000000;
}
#u79 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u80 {
  position:absolute;
  left:790px;
  top:617px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:790px;
  top:650px;
  width:240px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u83 {
  position:absolute;
  left:1020px;
  top:625px;
  width:20px;
  height:16px;
  color:#000000;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:790px;
  top:660px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:790px;
  top:693px;
  width:240px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u88 {
  position:absolute;
  left:1020px;
  top:668px;
  width:20px;
  height:16px;
  color:#000000;
}
#u89 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90 {
  position:absolute;
  left:790px;
  top:707px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:790px;
  top:740px;
  width:240px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u93 {
  position:absolute;
  left:1020px;
  top:715px;
  width:20px;
  height:16px;
  color:#000000;
}
#u94 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u95 {
  position:absolute;
  left:790px;
  top:750px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:790px;
  top:783px;
  width:240px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u98 {
  position:absolute;
  left:1020px;
  top:758px;
  width:20px;
  height:16px;
  color:#000000;
}
#u99 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u100 {
  position:absolute;
  left:790px;
  top:797px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:790px;
  top:830px;
  width:240px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u103 {
  position:absolute;
  left:1020px;
  top:805px;
  width:20px;
  height:16px;
  color:#000000;
}
#u104 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105 {
  position:absolute;
  left:790px;
  top:840px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:790px;
  top:873px;
  width:240px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u108 {
  position:absolute;
  left:1020px;
  top:848px;
  width:20px;
  height:16px;
  color:#000000;
}
#u109 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u110 {
  position:absolute;
  left:790px;
  top:887px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:790px;
  top:920px;
  width:240px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u113 {
  position:absolute;
  left:1020px;
  top:895px;
  width:20px;
  height:16px;
  color:#000000;
}
#u114 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u115 {
  position:absolute;
  left:790px;
  top:930px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:790px;
  top:963px;
  width:240px;
  height:10px;
}
#u117_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u117_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u118 {
  position:absolute;
  left:1020px;
  top:938px;
  width:20px;
  height:16px;
  color:#000000;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:790px;
  top:977px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:790px;
  top:1010px;
  width:240px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u123 {
  position:absolute;
  left:1020px;
  top:985px;
  width:20px;
  height:16px;
  color:#000000;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:790px;
  top:1020px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:790px;
  top:1053px;
  width:240px;
  height:10px;
}
#u127_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u128 {
  position:absolute;
  left:1020px;
  top:1028px;
  width:20px;
  height:16px;
  color:#000000;
}
#u129 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u130 {
  position:absolute;
  left:790px;
  top:1067px;
  width:82px;
  height:23px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:790px;
  top:1100px;
  width:240px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u133 {
  position:absolute;
  left:1020px;
  top:1075px;
  width:20px;
  height:16px;
  color:#000000;
}
#u134 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u135 {
  position:absolute;
  left:1140px;
  top:152px;
  width:110px;
  height:33px;
  font-size:10px;
  color:#FFFFFF;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u136 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
