body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:36px;
  top:89px;
  width:940px;
  height:310px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:310px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:590px;
  width:940px;
  height:80px;
  font-family:'Calibri', 'Calibri';
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:80px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:36px;
  top:680px;
  width:924px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:907px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:924px;
  height:1px;
}
#u5 {
  position:absolute;
  left:36px;
  top:378px;
  width:924px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:907px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:924px;
  height:1px;
}
#u6 {
  position:absolute;
  left:36px;
  top:402px;
  width:296px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:431px;
  width:481px;
  height:119px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:119px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:36px;
  top:1040px;
  width:157px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:570px;
  width:920px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u13 {
  position:absolute;
  left:40px;
  top:700px;
  width:920px;
  height:240px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:240px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:36px;
  top:1020px;
  width:924px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:907px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:924px;
  height:1px;
}
